.navHeader {
    margin-left: auto;
}

.nav {
    display: flex;
    list-style: none;
}

.navItem {
    margin-right: 25px;
}

.navItemLink, .navItemLinkDarkMode {
    color: rgba(#000, 0.6);
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
}

.navItemLinkDarkMode {
    color: #fff;
}